<div class="bg-base w-screen h-screen p-3">
  <!-- <ul class="remote-menu">
    <li><a routerLink="/">Home</a></li>
  </ul> -->

  <div [formGroup]="data" class="w-[400px] flex flex-col gap-2">
    <mjs-button expanded theme="danger"> Me clica </mjs-button>

    <mjs-text-field
      leftIcon="lock"
      placeholder="digite o seu nome"
      [required]="true"
      formControlName="title"
      name="title"
      label="nome"
    >
      <mjs-icon leftIcon fontSet="round" icon="lock" />
    </mjs-text-field>

    <mjs-checkbox
      name="checkbox"
      size="lg"
      label="checkbox"
      formControlName="checked"
    ></mjs-checkbox>

    <mjs-icon fontSet="round" icon="lock" size="lg" theme="danger" />
  </div>

  <router-outlet></router-outlet>
</div>
