<div class="bg-[#f3f3f3] w-screen h-screen p-3">
  <!-- <ul class="remote-menu">
    <li><a routerLink="/">Home</a></li>
  </ul> -->

  <div class="w-52 flex flex-col gap-2">
    <mjs-field
      leftIcon="lock"
      placeholder="type anything"
      [required]="true"
      disabled
      size="lg"
      [(ngModel)]="title"
      rounded="lg"
      name="title"
    ></mjs-field>
    <mjs-field
      leftIcon="lock"
      placeholder="type anything"
      [required]="true"
      size="lg"
      [(ngModel)]="title"
      rounded="lg"
      name="title"
    ></mjs-field>
  </div>

  <router-outlet></router-outlet>
</div>
