<div class="bg-[#f3f3f3] w-screen h-screen p-3">
  <!-- <ul class="remote-menu">
    <li><a routerLink="/">Home</a></li>
  </ul> -->

  <div class="w-[400px] border border-green-100 flex flex-col gap-2">
    <mjs-button expanded theme="danger"> Me clica </mjs-button>

    <mjs-text-field
      labelStacked
      leftIcon="lock"
      readonly
      placeholder="digite o seu nome"
      [required]="true"
      [(ngModel)]="title"
      name="title"
      label="nome"
    ></mjs-text-field>

    <mjs-icon fontSet="round" icon="lock" size="lg" theme="danger" />
  </div>

  <router-outlet></router-outlet>
</div>
