@import 'material-icons/iconfont/material-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // main style
  --base: #fdfffc;
  --accent: #f5f6fa;
  --highlight: #ff7a00;
  --text: #fdfffc;
  --text-alt: #000;
  --shadow: #ff7a0080 0px 0px 0px 1px, #ff7a0030 0px 0px 0px 6px;
  --danger: #ed1c24;
  --danger-shadow: #ed1c2480 0px 0px 0px 1px, #ed1c2430 0px 0px 0px 6px;
  --warning: #f9c22e;
  --warning-shadow: #f9c22e80 0px 0px 0px 1px, #f9c22e30 0px 0px 0px 6px;
  --info: #23c9ff;
  --info-shadow: #23c9ff80 0px 0px 0px 1px, #23c9ff30 0px 0px 0px 6px;
  --success: #058c42;
  --success-shadow: #058c4280 0px 0px 0px 1px, #058c4230 0px 0px 0px 6px;

  // border radius
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.35rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 999rem;
  --border-radius-none: 0;

  // height
  --height-sm: 2.75rem;
  --height-md: 3rem;
  --height-lg: 3.25rem;

  // padding
  --padding-sm: 0.75rem;
  --padding-md: 1rem;
  --padding-lg: 1.25rem;

  // font size
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;

  // icon size
  --icon-size-sm: 1.25rem;
  --icon-size-md: 1.5rem;
  --icon-size-lg: 1.75rem;
}
