@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-base: #fdfffc;
  --main-accent: #e5e7e3;
  --main-highlight: #235789;
  --main-text: #000;
  --main-box-shadow: #e5e7e3 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.08) 0px 6px 24px 0px;

  --dark-base: #235789;
  --dark-accent: #fdfffc;
  --dark-highlight: #fff;
  --dark-text: #fdfffc;
  --dark-box-shadow: #fdfffc 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.08) 0px 6px 24px 0px;

  --danger-base: #ed1c24;
  --danger-accent: #c40e3b;
  --danger-highlight: #fdfffc;
  --danger-text: #fdfffc;
  --danger-box-shadow: #c40e3b 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.08) 0px 6px 24px 0px;

  --warning-base: #f9c22e;
  --warning-accent: #f57505;
  --warning-highlight: #fdfffc;
  --warning-text: #fdfffc;
  --warning-box-shadow: #f57505 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.08) 0px 6px 24px 0px;

  --info-base: #23c9ff;
  --info-accent: #006fd6;
  --info-highlight: #fdfffc;
  --info-text: #fdfffc;
  --info-box-shadow: #006fd6 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.08) 0px 6px 24px 0px;

  --success-base: #1ae66f;
  --success-accent: #14a751;
  --success-highlight: #fdfffc;
  --success-text: #fdfffc;
  --success-box-shadow: #14a751 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.08) 0px 6px 24px 0px;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.35rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 999rem;
  --border-radius-none: 0;

  --height-sm: 1.975rem;
  --height-md: 2.25rem;
  --height-lg: 2.5rem;

  --padding-sm: 0.75rem;
  --padding-md: 1.5rem;
  --padding-lg: 1.75rem;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;
}
